mixin employee(name, email, picture, title, cv)
  .profile.col-sm-3.col-xs-12
    img(src= picture class="img-responsive img-rounded").people-pic
    h5(style="margin-bottom:5px")= name
    p.namecard= title
    p.namecard.email= email
    if cv != ""
      a.btn.btn-primary.btn-block(href=cv) Curriculum Vitae

link(rel="stylesheet" href="/css/people.css")
- data = public.people._data.index
- count = 0
- maxcount = 4

block content
  .container.profile-container
    for person in data
      h3= person.type
      hr
      .row
        for mem in person.members
          +employee(mem.name, mem.email, mem.picture, mem.title, mem.cv)
          
      
